<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teachers List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/crudScript.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-cus">
      <a class="navbar-brand" href="../home.html"
        ><i class="fas fa-home"></i> Home</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./templates/showAllTeachers.html"
              ><i class="fas fa-star"></i> See Teachers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/addTeacher.html"
              ><i class="fas fa-plus"></i> Add Teacher</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/filterTeachers.html"
              ><i class="fas fa-filter"></i> Filter Teachers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/searchTeacher.html"
              ><i class="fas fa-search"></i> Search Teacher</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/updateTeacherDetails.html"
              ><i class="fas fa-edit"></i> Update Teacher's Record</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./templates/deleteTeacherDetails.html"
              ><i class="fas fa-trash"></i> Delete Teacher</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <h1 class="text-center mb-4">All Teachers</h1>
      <button class="btn btn-success mb-4" onclick="openAddTeacherModal()">
        Add New Teacher
      </button>
      <div class="row" id="teachers-list"></div>
    </div>
    <script src=".././static/js/teacherScript.js"></script>
    <script src=".././static/js/validation.js"></script>
  </body>
</html>
